<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme._4TComic"
        tools:targetApi="31">
        <activity
            android:name=".activities.personal.UploadComicActivity"
            android:exported="false" />
        <activity
            android:name=".activities.personal.AdminActivity"
            android:exported="false" />
        <activity
            android:name=".activities.HomePageActivity"
            android:exported="false" />
        <activity
            android:name=".activities.account.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".activities.account.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".activities.account.LoginActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.personal.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".activities.personal.AccountActivity"
            android:exported="false" />
        <activity
            android:name=".activities.personal.PersonalActivity"
            android:exported="false" />
        <activity
            android:name=".activities.story.StoryDetailActivity"
            android:exported="false" />
        <activity
            android:name=".activities.story.activity_chapters"
            android:exported="false"/>
        <activity
            android:name=".activities.story.activity_read_page"
            android:exported="false"/>
        <activity
            android:name=".activities.activity_bookcase_page"
            android:exported="false"/>

    </application>

</manifest>